<?xml version="1.0"?>
<doc>
    <assembly>
        <name>SmartFran.Seed.Extend.Adapter.AutoMapper</name>
    </assembly>
    <members>
        <member name="T:SmartFran.Seed.Adapter.AutoMapper.AutoMapperTypeAdapter">
            <summary>
            AutoMapper type adapter implementation
            </summary>
        </member>
        <member name="M:SmartFran.Seed.Adapter.AutoMapper.AutoMapperTypeAdapter.Adapt``2(``0)">
            <summary>
            Adapt TSource to TTarget.
            </summary>
            <param name="source">
            The source.
            </param>
            <typeparam name="TSource">
            Source type.
            </typeparam>
            <typeparam name="TTarget">
            Taget type.
            </typeparam>
            <returns>
            Target object.
            </returns>
        </member>
        <member name="M:SmartFran.Seed.Adapter.AutoMapper.AutoMapperTypeAdapter.Adapt``1(System.Object)">
            <summary>
            Adapt Source to TTarget.
            </summary>
            <param name="source">
            The source.
            </param>
            <typeparam name="TTarget">
            Taget type.
            </typeparam>
            <returns>
            Target object.
            </returns>
        </member>
        <member name="T:SmartFran.Seed.Adapter.AutoMapper.AutoMapperTypeAdapterProvider">
            <summary>
            AutoMapper type adapter implementation
            </summary>
        </member>
        <member name="M:SmartFran.Seed.Adapter.AutoMapper.AutoMapperTypeAdapterProvider.#ctor">
            <summary>
            Initializes a new instance of the <see cref="T:SmartFran.Seed.Adapter.AutoMapper.AutoMapperTypeAdapterProvider"/> class. 
            </summary>
        </member>
        <member name="M:SmartFran.Seed.Adapter.AutoMapper.AutoMapperTypeAdapterProvider.Create">
            <summary>
            The create.
            </summary>
            <returns>
            The SmartFran.Seed.Adapter.ITypeAdapter.
            </returns>
        </member>
    </members>
</doc>
