<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SmartFran.Util.Svn2PM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <target value="Console.Error"/>
      <mapping>
        <level value="FATAL"/>
        <foreColor value="Red"/>
        <backColor value="White"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="Yellow"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="Cyan"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Green"/>
      </mapping>
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt"/>
      <appendToFile value="true"/>
      <encoding value="utf-8"/>
      <layout type="log4net.Layout.SimpleLayout"/>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <SmartFran.Util.Svn2PM.Properties.Settings>
      <setting name="IssueIdRegEx" serializeAs="String">
        <value>(bug|issue|ticket|story|bug|report|feature|request|enhancement|task|user|story|idea)\s[a-zA-Z]+[-]\d+</value>
      </setting>
      <setting name="PMServicesUrl" serializeAs="String">
        <value>http://localhost:8681/thebuggenie/vcs_integration/report/{0}/?passkey={1}&amp;author={2}&amp;rev={3}&amp;changed={4}&amp;commit_msg={5}</value>
      </setting>
      <setting name="SvnBinDirectory" serializeAs="String">
        <value />
      </setting>
    </SmartFran.Util.Svn2PM.Properties.Settings>
  </applicationSettings>
</configuration>
